*{
    margin: 0;
}

body.home-page {
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to bottom,
        #89B0AE 0%,
        #89B0AE 70%,
        #FAF9F9 70%,
        #FAF9F9 100%
    );
    font-family: 'Nunito';
}

body.symptom-page {
    font-family: 'Nunito';
    background-color: #FAF9F9;
}

header.symptom-page {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #89B0AE;
}

a:link, a:visited {
    text-decoration: none;
    color: #FAF9F9;
}

a.nav-link:hover {
    text-decoration: none;
    color: #4B6F6D;
    font-weight: bold;
}

li {
    list-style-type: none;
    display: inline-block;
    position: relative;
    margin: 0px 25px;
}

li::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #4B6F6D;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

li:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#hero-button {
    background-color: #4B6F6D;
    border: none;
    border-radius: 50px;
    color:#FAF9F9;
    padding: 15px 50px;
    font-family: 'Nunito';
    font-size:medium;
}

#hero-button:hover {
    background-color: #5f8e8b;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
}

#middle {
    background-color: #FAF9F9;
    margin: 0% 10%;
    padding: 25px 20px;
    border-radius: 20px;
    box-shadow: 3px 3px 7px #9c9c9c;
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-direction: column;
}

.mid-button {
    background-color: #4B6F6D;
    border: none;
    border-radius: 50px;
    color:#FAF9F9;
    padding: 15px 50px;
    font-family: 'Nunito';
    font-size:medium;
    display: block;
    width: fit-content;
    margin: auto;
}

.mid-button:hover {
    background-color: #89B0AE;
    color:#FAF9F9;
}

#intro {
    margin: 5% 7%;
}

#intro-top {
    display: flex;
    align-items: center;
}

hr {
    width: 30%;
    background-color:#FAF9F9;
    height: 3px;
    background-color: #4B6F6D;
    border-radius: 50px;
}

#illnesses {
    display: flex;
    flex-wrap: wrap;
    margin: 5% 10%;
    justify-content: center;
}

.all {
    width: 40%;
    background-color: #FAF9F9;
    border-radius: 20px;
    box-shadow: 1px 1px 4px #9c9c9c;
    text-align: center;
    padding: 20px;
    margin: 2%;
}

.symptoms {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.symptom {
    background-color: #4B6F6D;
    border-radius: 50px;
    color: #FAF9F9;
    padding: 1% 10%;
}

.active {
    display: block;
}

footer {
    margin: 3% 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#footer-text {
    width: 80%;
}

#red-text {
    color: #ED7899;
    font-weight: bold;
}

h1, h2, h3 {
    color: #4B6F6D;
}

p {
    color:#89B0AE;
    margin-bottom: 40px;
}

#hero-p {
    color: #FAF9F9;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #FAF9F9;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #4B6F6D;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #5f8e8b;
  }

  @media (min-width: 800px){
    #middle {
        flex-direction: row;
        align-items: center;
    }

    #middle>div {
        width: 49%;
    }

    #left-box {
        border-right: solid 1px #cfdfde;
    }
  }