*{
    margin: 0;
}

body {
    font-family: 'Nunito';
    background-color: #FAF9F9;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #89B0AE;
}

a:link, a:visited {
    text-decoration: none;
    color: #FAF9F9;
}

a:hover {
    text-decoration: none;
    color: #4B6F6D;
    font-weight: bold;
}

li {
    list-style-type: none;
    display: inline-block;
    position: relative;
    margin: 0px 25px;
}

li::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #4B6F6D;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

li:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#intro {
    margin: 5% 7%;
}

#intro-top {
    display: flex;
    align-items: center;
}

hr {
    width: 30%;
    background-color:#FAF9F9;
    height: 3px;
    background-color: #4B6F6D;
    border-radius: 50px;
}

#illnesses {
    display: flex;
    flex-wrap: wrap;
    margin: 5% 10%;
    justify-content: center;
}

.all {
    width: 40%;
    background-color: #FAF9F9;
    border-radius: 20px;
    box-shadow: 1px 1px 4px #9c9c9c;
    text-align: center;
    padding: 20px;
    margin: 2%;
}

.symptoms {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.symptom {
    background-color: #4B6F6D;
    border-radius: 50px;
    color: #FAF9F9;
    padding: 1% 10%;
}

.active {
    display: block;
}

h3 {
    color: #4B6F6D;
}

p {
    color: #89B0AE;
}

footer {
    margin: 3% 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#footer-text {
    width: 80%;
}

#red-text {
    color: #ED7899;
    font-weight: bold;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #FAF9F9;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #4B6F6D;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #5f8e8b;
  }